* {
  margin: 0;
  padding: 0;
  border: 0;
}
.nav_back {
  background-color: #121420;
  padding: 12px;
}
.lista_nav {
  list-style-type: none;
  margin-left: 1200px;
  padding: 0;
  background-color: #121420;
  overflow: hidden;
}

li {
  float: left;
  margin-left: 20px;
  list-style-type: none;
}

li a {
  display: block;
  color: #d3d3d3;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
}

li a:hover {
  color: #fff;
}

.lista_nav1 {
  float: inline-start;
  display: inline;
  padding: 0;
}
img {
  height: 30px;
  width: 30px;
  color: #d3d3d3;
  display: inline;
  float: inline-start;
  padding: 7px 0px 14px 14px;
  text-align: center;
  display: block;
}
.main_nav {
  padding: 14px 0px 14px 0px;
}
